/* 预设样式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 14px;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

/* - Hides from IE-mac - \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* - End hide from IE-mac - */

/* 样式组件 */
/* -float- */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/* -font- */
.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-28 {
  font-size: 28px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.f-48 {
  font-size: 48px;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}

.f-underline {
  text-decoration: underline;
}

/* -margin- */
.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-80 {
  margin-left: 70px;
}

.mr-80 {
  margin-right: 70px;
}

.mt-80 {
  margin-top: 70px;
}

.mb-80 {
  margin-bottom: 70px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

/* -color- */
.cl-51 {
  color: #333333;
}

.cl-102 {
  color: #666;
}

.cl-119 {
  color: #777;
}

.cl-125 {
  color: #7d7d7d;
}

.cl-153 {
  color: #999;
}

.cl-165 {
  color: #a5a5a5;
}

.cl-183 {
  color: #b7b7b7;
}

.cl-204 {
  color: #ccc;
}

.cl-238 {
  color: #eeeeee !important;
}

.cl-green {
  color: #69b52e;
}

.cl-blue {
  color: #2489f0;
}

.cl-yellow {
  color: #fddf58;
}

.bg-246 {
  background: #f6f6f6;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

a {
  color: #616161;
  text-decoration: none;
}

a:hover {
  color: #ff6700;
  text-decoration: none;
}

.brd-t {
  border-top: 1px solid #eeeeee;
}

.brd-r {
  border-right: 1px solid #eeeeee;
}

.brd-b {
  border-bottom: 1px solid #eeeeee;
}

.brd-l {
  border-left: 1px solid #eeeeee;
}

/* -width- */
.w-76 {
  width: 76px !important;
}

.w-88 {
  width: 88px !important;
}

.w-110 {
  width: 110px !important;
}

.w-120 {
  width: 120px !important;
}

.w-150 {
  width: 150px !important;
}

.w-182 {
  width: 182px !important;
}

.w-510 {
  width: 510px !important;
}

.w-710 {
  width: 710px !important;
}

/* -height- */
.h-288 {
  height: 288px;
}

.h-320 {
  height: 320px;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

/* -icons- */
.logo {
  background: url(../images/logo.svg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 31px;
  width: 126px;
}

/* -btns- */
.btn-orange {
  background: #ff6700;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 78px;
}

.btn-orange:hover {
  color: #fff;
}

.btn-orange-hollow {
  background: none;
  border: 1px solid #ff6700;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ff6700;
  display: block;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 78px;
}

/* ic */
.ic-checkbox {
  background: url("../images/icons.png") no-repeat -66px 0;
  display: block;
  height: 34px;
  width: 36px;
}

.ic-telephone {
  background: url("../images/icons.png") no-repeat -126px 0;
  display: block;
  height: 42px;
  width: 49px;
}

.ic-pic-01 {
  background: url("../images/pics.png") no-repeat 0 0;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-02 {
  background: url("../images/pics.png") no-repeat -158px 0;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-03 {
  background: url("../images/pics.png") no-repeat -316px 0;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-04 {
  background: url("../images/pics.png") no-repeat -474px 0;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-05 {
  background: url("../images/pics.png") no-repeat 0 -158px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-06 {
  background: url("../images/pics.png") no-repeat -158px -158px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-07 {
  background: url("../images/pics.png") no-repeat -316px -158px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-08 {
  background: url("../images/pics.png") no-repeat 0 -316px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-09 {
  background: url("../images/pics.png") no-repeat -158px -316px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-10 {
  background: url("../images/pics.png") no-repeat -316px -316px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-11 {
  background: url("../images/pics.png") no-repeat -474px -316px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-12 {
  background: url("../images/pics.png") no-repeat -632px -316px;
  display: block;
  height: 158px;
  width: 158px;
}

.ic-pic-13 {
  background: url("../images/pics.png") no-repeat -790px -316px;
  display: block;
  height: 158px;
  width: 158px;
}
/* nav */
.nav {
  background: #f5f5f5;
  color: #616161;
  line-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav .logo {
  margin-top: 14px;
}

.nav .n-left {
  float: left;
}

.nav .n-left .logo {
  float: left;
}

.nav .n-middle {
  float: left;
  margin-left: 270px;
}

.nav .item {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.nav .item.active a {
  color: #ff6700;
}

.nav .item a {
  color: #616161;
  font-size: 16px;
}

.nav .item a:hover {
  color: #ff6700;
}

.nav .n-right {
  float: right;
}

.nav .n-right .btn {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
}

/* # index start */
.full-pages {
  color: #fff;
}

.full-pages .section {
  overflow: hidden;
}

.full-pages .ct {
  position: relative;
}

.full-pages h1 {
  font-size: 74px;
}

.full-pages h2 {
  font-size: 60px;
}

.full-pages .desc {
  display: block;
}

.full-pages .desc .list .item {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 20px;
  padding-left: 60px;
  position: relative;
}

.full-pages .desc .list .ic {
  left: 0;
  position: absolute;
  top: 0;
}

.full-pages .desc-button {
  background: none;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 62px;
  line-height: 62px;
  margin-top: 30px;
  width: 298px;
  text-align: center;
}

.full-pages .desc-button:hover {
  color: #fff;
}

/* - s1 - */

.full-pages .s1 {
  background: #ff6700;
}

.full-pages .s1 h1 {
  position: absolute;
  text-align: center;
  top: 160px;
  width: 100%;
}

.full-pages .s1 .img-base {
  display: block;
  left: -108px;
  position: absolute;
  top: 320px;
}

.full-pages .s1 .desc {
  display: block;
  right: 80px;
  position: absolute;
  top: 340px;
}

/* - s2 - */
#fp-nav ul li:last-child { display: none;}
.full-pages .s2 {
  background: #30b8ff;
}

.full-pages .s2 h2 {
  left: 24px;
  position: absolute;
  top: 301px;
}

.full-pages .s2 .desc {
  display: block;
  left: 108px;
  position: absolute;
  top: 412px;
}

.full-pages .s2 .img-base {
  display: block;
  right: 31px;
  position: absolute;
  top: 100px;
  z-index: 10;
}

.full-pages .s2 .circle {
  background: 0 none;
  border: 60px solid #46c0ff;
  border-radius: 50%;
  height: 685px;
  left: -150px;
  position: absolute;
  top: 100px;
  width: 685px;
  z-index: 1;
}

/* - s3 - */
.full-pages .s3 {
  background: #f95661;
}

.full-pages .s3 h2 {
  position: absolute;
  text-align: center;
  top: 141px;
  width: 100%;
  z-index: 20;
}

.full-pages .s3 .desc {
  display: block;
  left: 254px;
  position: absolute;
  top: 260px;
  width: 714px;
  z-index: 20;
}

.full-pages .s3 .desc .desc-button {
  margin-left: auto;
  margin-right: auto;
}

.full-pages .s3 .desc .item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 357px;
}

.full-pages .s3 .img-base {
  display: block;
  right: 31px;
  position: absolute;
  top: 540px;
  z-index: 10;
}

.full-pages .s3 .circle {
  background: 0 none;
  border: 310px solid #fc626c;
  border-radius: 50%;
  height: 1028px;
  left: -224px;
  position: absolute;
  top: -300px;
  width: 1028px;
  z-index: 1;
}

/* - s4 - */
.full-pages .s4 {
  background: url("../images/section-4.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.full-pages .s4 h2 {
  position: absolute;
  text-align: center;
  top: 236px;
  width: 100%;
}

.full-pages .s4 .desc {
  position: absolute;
  text-align: center;
  top: 330px;
  width: 100%;
}

.full-pages .s4 .desc .txt {
  font-size: 30px;
}

.full-pages .s4 .desc-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.full-pages .s4 .img-base {
  position: absolute;
  top: 630px;
  width: 100%;
}

.full-pages .s4 .img-base .item {
  border: 6px solid #fff;
  float: left;
}

.full-pages .s4 .img-base .item.m {
  margin-left: 30px;
  margin-right: 30px;
}

/* - s5 - */
.full-pages .s5 {
  background: url("../images/section-4.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.full-pages .s5 h2 {
  position: absolute;
  text-align: center;
  top: 236px;
  width: 100%;
}

.full-pages .s5 .desc {
  position: absolute;
  text-align: center;
  top: 330px;
  width: 100%;
}

.full-pages .s5 .desc .txt {
  font-size: 18px;
  line-height: 40px;
}

.full-pages .s5 .desc-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.full-pages .s5 .img-base {
  position: absolute;
  top: 630px;
  width: 100%;
}

.full-pages .s5 .img-base .item {
  border: 6px solid #fff;
  float: left;
}

.full-pages .s5 .img-base .item.m {
  margin-left: 30px;
  margin-right: 30px;
}

/* # index end */

/* # content */
.banner {
  background: #f9dfcd;
  height: 236px;
  padding-top: 61px;
}

.banner .inner {
  height: 236px;
  position: relative;
}

.banner .pic {
  background: url("../images/banner-pic.png") no-repeat;
  display: block;
  height: 213px;
  position: absolute;
  bottom: 0;
  width: 367px;
}

.banner .desc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 400px;
  padding-left: 65px;
  padding-top: 10px;
  position: absolute;
  top: 100px;
}

.banner .desc .ic {
  left: 0;
  position: absolute;
  top: 0;
}

.banner .desc .txt {
  color: #906658;
  font-size: 24px;
}

.summary {
  margin-top: 50px;
  margin-bottom: 80px;
}

.summary .title {
  border-bottom: 1px solid #dcdcdc;
  font-size: 30px;
  text-align: center;
}

.summary .title .txt {
  background: #fff;
  color: #555555;
  padding: 0 20px;
  position: relative;
  top: 15px;
}

.summary .sub-title {
  color: #555;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.summary .content .list .item {
  float: left;
}

.summary .content .list .item .ic {
  margin-left: auto;
  margin-right: auto;
}

.summary .content .list .item .txt {
  color: #777;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.summary .content .list .item .info {
  color: #777;
  font-size: 14px;
  line-height: 26px;
  margin-top: 20px;
  text-align: center;
}

.summary .content .list.type-a .item {
  width: 25%;
}

.summary .content .list.type-b .item {
  width: 33.33%;
}

.site-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #f0f0f0;
  color: #777;
  font-size: 14px;
  line-height: 30px;
  height: 121px;
  padding: 30px 0;
  text-align: center;
}

.site-footer .separator {
  margin-left: 5px;
  margin-right: 5px;
}
