
.slider {
  position: relative;
}

.slider .visible {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1200px;
  overflow: hidden;
}

.slider .focus {
  left: 0;
  position: absolute;
  bottom: 25px;
  z-index: 10;
}

.slider .focus i {
  background: url(../images/icons.png) no-repeat 0 -41px;
  cursor: pointer;
  display: block;
  float: left;
  height: 18px;
  width: 18px;
}

.slider .focus i.active {
  background: url(../images/icons.png) no-repeat -23px -41px;
}

.slider .focus i.m {
  margin-left: 10px;
}

.slider .item {
  float: left;
  height: 623px;
  width: 1200px;
}

.slider .item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}